@charset="utf-8";
/* ----------------公用----------------开始 */
/* ----------------公用---------------- */
/* ----------------公用---------------- */
/* ----------------公用---------------- */
/* ----------------公用---------------- */
/* ----------------公用---------------- */
/* ----------------公用---------------- */
/* ----------------公用---------------- */

/*css resest*/
body, ul, li, p, input {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
img {
    border: none;
}
a, span, i {
    display: inline-block;
}
input[type="button"] {
    cursor: pointer;
    outline: none;
}

